@import "~bootstrap/scss/bootstrap";


.hero {
	background-image: url(../../images/dental1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	filter: grayscale(100%)
}

.hero__title {
	color: white;
	padding-top: 150px;

	@extend .display-4, .font-weight-bold, .w-50, .d-block, .pb-3 ;
}

.case_button {
	border-radius: 0;

	@extend .btn, .btn-outline-light, .text-uppercase, .p-3
}