@import "~bootstrap/scss/bootstrap";


.hero {
	background-image: url(//unsplash.it/g/1400/550);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}

.hero__title {
	color: white;
	padding-top: 150px;

	@extend .display-4, .font-weight-bold, .w-50, .d-block, .pb-3 ;
}

.case_button {
	border-radius: 0;

	@extend .btn, .btn-outline-light, .text-uppercase, .p-3
}